### for_list_format

In [23]:
num = [1,2,3,4,5]
print(num)

[1, 2, 3, 4, 5]

In [24]:
type(num)

list

In [25]:
for i in num:
    print(i, '번', end='/')

1 번/2 번/3 번/4 번/5 번/

In [26]:
for i in num:
    print('%d번' %i, end=' ')

1번 2번 3번 4번 5번

In [27]:
i = 10
if i == 0 :
    print(i,'는 0이다')
else : 
    print(i,'는 0이 아니다')

10 는 0이 아니다

In [28]:
i = 10
if i%2 == 0 :
    print(i,'는 짝이다')
else : 
    print(i,'는 홀이다')

10 는 짝이다

In [29]:
i = int(input('숫자 입력 >>>> '))
if i%2 == 0 :
    print(i,'는 짝이다')
else : 
    print(i,'는 홀이다')

숫자 입력 >>>> 23
23 는 홀이다

In [30]:
sub = ['국', '영', ' 수', '정보']
for i in range(len(sub)) :
    print(sub[i], end=' ')

국 영  수 정보

In [31]:
sub = ['국', '영', '수', '정보']
for i, s in enumerate(sub) :
    if sub[i] == '정보' :
        print(i+1, '교시', sub[i], '합격')
    else :
        print(i+1, '교시', sub[i], '해당없음')

1 교시 국 해당없음
2 교시 영 해당없음
3 교시 수 해당없음
4 교시 정보 합격

In [32]:
for i in range(1,11) :
    if i%2==0 :
        print('파이썬')
    else :
        print('야~ 나도 파이썬 할 수 있어')

야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬

### List

In [33]:
juso = '   인천광역시 중구 참외전로 116 창의관'

In [34]:
type(juso)

str

In [35]:
len(juso)

24

In [36]:
add = juso.strip()

In [37]:
juso

'   인천광역시 중구 참외전로 116 창의관'

In [38]:
add

'인천광역시 중구 참외전로 116 창의관'

In [39]:
ad = juso.split()

In [40]:
ad

['인천광역시', '중구', '참외전로', '116', '창의관']

In [41]:
add.startswith('인천')

True

In [42]:
add.endswith('관')

True

### format

In [43]:
s = 'A is {}, {}'
pr = s.format('사과', '오렌지')
print(pr)

A is 사과, 오렌지

In [44]:
info_1 = '학교: {}, 학번: {}, 이름: {}'
pr = info_1.format('인천여상', 30115, '최고은')
print(pr)

학교: 인천여상, 학번: 30115, 이름: 최고은

###  [문제1] 30부터 50까지 중에서 홀수만 출력

In [45]:
for i in range(30,51) :
    if i%2==0 :
        i
    else :
        print(i)

31
33
35
37
39
41
43
45
47
49

###  [문제2] 아이디(문자)를 입력받아 동일하면
- 안녕하세요 회원님
- 아니면 회원가입하세요.

In [46]:
id = input('아이디 입력 >>>')
same = 'cmj1030'
if (id == 'cmj1030') :
    print('안녕하세요 회원님')
else :
    print('회원가입하세요')

아이디 입력 >>>cmj1030
안녕하세요 회원님

###  [문제3] 입력예 ) 인천정보산업고/30105/김장민 입력받아
- 학교 : 인천정보산업고
- 학번 : 30105
- 이름 : 김장민

In [54]:
sch = list(map(str, input('내용 입력>> ').split('/')))
print('학교 : ',sch[0])
print('학번 : ',sch[1])
print('이름 : ',sch[2])

내용 입력>> 인천정보산업고/30105/김장민
학교 :  인천정보산업고
학번 :  30105
이름 :  김장민

###  [문제4] 숫자데이터 5개 입력받아
- 합계
- 평균

In [2]:
s = list(map(int, input('내용 입력>> ').split()))
print('합계 : ',sum(s))
print('평균 : ',sum(s)/len(s))

내용 입력>> 1 2 4 5 6
합계 :  18
평균 :  3.6